
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zespół Tytanik</title>
    <link rel="icon" href="~/images/statekZNetaAfterCut.png">
    <meta name="keywords" content="Zespół muzyczny, Zespół na wesele, Zespół weselny, Zespoły weselne, Zespoły weselne z Białegostoku, Zespół na wesele w Białymstoku, Tytanik, Zespół Tytanik, Titanic, zespół titanic" />
    <meta name="description" content="Zespół muzyczny Tytanik! Energiczni, utalentowani pasjonaci muzyki i imprezowego szaleństwa. Zabawmy się razem! Gramy w całej Polsce. " />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.ss"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>*@

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var NavY = $('#navigationPanel').offset().top;
            var stickyNav = function () {
                var ScrollY = $(window).scrollTop();

                if (ScrollY >= NavY) {
                    $('#navigationPanel').addClass('sticky');
                } else {
                    $('#navigationPanel').removeClass('sticky');
                }
            };


            stickyNav();

            $(window).scroll(function () {
                stickyNav();
            });

            //new ResizeSensor(jQuery('#navigationPanel'), function () {

            //    var newHeight = document.getElementById('navigationPanel').clientHeight;
            //    document.getElementById('navigationWrapper').setAttribute("style", "height:" + newHeight + "px");
            //});


            if (location.pathname != "/")
            {
                $("a[href='" + location.pathname + "']").addClass("activeLink");
            }
            else
            {
                $(".homeLink").addClass("activeLink");
            }
        });


        var numer = Math.floor(Math.random() * 2) + 1;

        var timer1 = 0;
        var timer2 = 0;

        function ustawslajd(nrslajdu) {
            clearTimeout(timer1);
            clearTimeout(timer2);
            numer = nrslajdu - 1;

            schowaj();
            setTimeout("zmienslajd()", 500);

        }

        function schowaj() {
            $("#slider").fadeOut(500);
        }

        function changeSlide() {
            numer++; if (numer > 2) numer = 1;

            var plik = "<img src=\"/images/index" + numer + ".jpg\"/>";
            document.getElementById("slider").innerHTML = plik;
            $("#slider").fadeIn(500);

            timer1 = setTimeout("changeSlide()", 5000);
            timer2 = setTimeout("schowaj()", 4500);

        }

        function goToLogin() {
            //alert("jestem");
            //$.get("/Account/Login");
            location.href = '@Url.Action("Login", "Account")';
        }

        function checkNewPosts() {
            $.post("/Posts/howManyNewPosts", function (ile) {
                if (ile != -1) {
                    if (ile == 0) {
                        document.getElementById("sumOfNewPosts").style.color = "gray";
                    }
                    else {
                        document.getElementById("sumOfNewPosts").style.color = "red";
                    }

                    document.getElementById("sumOfNewPosts").innerHTML = "(" + ile + ")";
                }
            });

            //setTimeout("newMs()", 3000);
        }

        $("#statekLogo").bind("taphold", tapholdHandler);

        function tapholdHandler(event) {
            location.href = '@Url.Action("Login", "Account")';
        }

    </script>

</head>
<body onload="changeSlide(); checkNewPosts();">
    <div class="header" style="align-content: center !important">
        <div class="logo">
            <div style="display: inline-block">
                <img ondblclick="goToLogin()" id="statekLogo" src="~/images/statekZNetaAfterv1.png" />
            </div>
            <div id="circlePhotos" style="display: inline-block">
                <img src="~/images/AndrzejKolo.png" width="100" />
                <img src="~/images/MonikaKolo.png" width="100" />
                <img src="~/images/WaldekKolo.png" width="100" />
                <img src="~/images/AnetaKolo.png" width="100" />
                <img src="~/images/TomekKolo.png" width="100" />
            </div>
        </div>
    </div>
    <div id="navigationWrapper" style="height: 60px;">
        <div class="navbar navbar-inverse" id="navigationPanel" @*style="height: 60px;" *@>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="text-align: center !important">
                    <ul class="nav navbar-nav navbarList">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("BandMember"))
                        {
                            <li style="width:auto">@Html.ActionLink("HOME", "Index", "Home", null, new { @class = "actionLinkClass; homeLink" })</li>
                            <li style="width:auto">@Html.ActionLink("SKŁAD", "People", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li style="width:auto">@Html.ActionLink("REPERTUAR", "Programme2", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li style="width:auto">@Html.ActionLink("DEMO", "Demo", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li style="width:auto">@Html.ActionLink("GALERIA", "Gallery", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li style="width:auto">@Html.ActionLink("KONTAKT", "Contact", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li style="width:auto">@Html.ActionLink("KALENDARZ", "Calender", "Home", null, new { @class = "actionLinkClass" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("HOME", "Index", "Home", null, new { @class = "actionLinkClass; homeLink" })</li>
                            <li>@Html.ActionLink("SKŁAD", "People", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li>@Html.ActionLink("REPERTUAR", "Programme", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li>@Html.ActionLink("DEMO", "Demo", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li>@Html.ActionLink("GALERIA", "Gallery", "Home", null, new { @class = "actionLinkClass" })</li>
                            <li>@Html.ActionLink("KONTAKT", "Contact", "Home", null, new { @class = "actionLinkClass" })</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                int newPosts = FinalBattle.Controllers.PostsController.howManyNewPosts();
                                <li style="width: auto; height:auto">
                                    <a href="@Url.Action("Index", "Posts")" class="MyProfileLink">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="font-size:16px;"></span>
                                        @if (newPosts == 0)
                                        {
                                            <span id="sumOfNewPosts" style="color:gray;">(0)</span>
                                        }
                                        else
                                        {
                                            <span id="sumOfNewPosts" style="color:red">(@newPosts)</span>
                                        }
                                    </a>
                                </li>

                                <li class="dropdown" style="width:auto; height:auto;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true" style="font-size:16px;"></span>Zarządzaj<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Songs")">Utwory</a></li>
                                        <li><a href="@Url.Action("Index", "Backings")">Podkłady</a></li>
                                        <li><a href="@Url.Action("Index", "Categories")">Kategorie</a></li>
                                        <li><a href="@Url.Action("Index", "Authors")">Autorzy</a></li>
                                        <li><a href="@Url.Action("Index", "Places")">Miejsca</a></li>
                                        <li><a href="@Url.Action("Index", "Photos")">Zdjęcia</a></li>
                                        @*<li><a href="@Url.Action("Index", "Events")">Eventy</a></li>*@
                                        <li><a href="@Url.Action("Users", "Home")">Users</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            var u = User;
                            @if (User.IsInRole("User"))
                            {
                                <li style="width: auto; height:auto;">
                                    <a href="@Url.Action("UserProfile", "Account")" class="MyProfileLink">
                                        Mój Profil <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:16px;"></span>
                                    </a>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" id="content">
        @RenderBody()
        <hr />
        <footer class="myFooter">
            <p>&copy; Zespół muzyczny Tytanik</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>
