@model IEnumerable<FinalBattle.Models.Post>

<div class="homeRow">
    <div class="row">
        <div class="col-md-8">
            <div class="homeSliderSquare">
                <div id="slider"></div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="myPanel">
                <div class="myPanelHead">Nasza Oferta</div>
                <div class="myPanelBody">
                    Przede wszystkim kochamy muzykę. Tworzymy zgrany zespół a&nbsp;cudowna, pozytywana atmosfera jaka u&nbsp;nas panuje zaraża gości
                    i&nbsp;tak naprawdę bawimy się wspólnie na imprezach! Oferujemy oprawę muzyczną wesel, ślubów, studniówek, bali oraz wszelakich imprez okolicznościowych.
                </div>
            </div>
            <div class="myPanel">
                <button onclick="ScrollToPosts()" class="btn btn-info" style="width: 100% !important; font-size: 18px !important">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    <span>Opinie o Tytaniku</span>
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" id="postsDive">
        <div class="col-md-12">
            <div class="myPanel">
                <div class="myPanelHead">Najlepszą rekomendacją są opinie klientów! Graliśmy na Twojej imprezie? Napisz jak było :D</div>
                <div class="myPanelBody">
                    @foreach (var p in Model)
                    {
                        <div class="postPanel">
                            <div class="postPanelHead"><b>@p.ApplicationUser.UserName</b> dnia @p.Date.ToString("dd/MM/yyyy") napisał/a:</div>
                            <div class="postPanelBody">@p.Text</div>
                        </div>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button style="margin-left: 50px; margin-top: 5px; text-align: left;" type="button" class="btn-primary" onclick="showPopup()" id="napiszOpinieBtn">
                            Napisz Opinię
                        </button>
                    }
                    else
                    {
                        <div style="margin-top: 30px;">
                            <p>Aby dodać opinię musisz być zalogowany.</p>
                            <p>
                                @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) &nbsp;&nbsp;&nbsp;
                                @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    }

                    <div id="postPopup" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content" style="background-color: rgba(0, 0, 0, 1);">
                                <div class="modal-header" style="background-color: #ffd800; color: black">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Twoja opinia na temat zespołu Tytanik</h4>
                                </div>

                                <div class="modal-body">
                                    <textarea class="form-control" rows="12" style="min-width: 100%" id="postTextArea" name="postTextArea"></textarea>
                                    <button class="btn-success" onclick="report()" style="margin: 20px;">Wyślij opinię</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //$("HTML, BODY").animate({ scrollTop: 130 }, 1000);
    function ScrollToPosts() {
        $('html,body').animate({ scrollTop: $("#postsDive").offset().top - 100 }, 1000);
    }

    function showPopup() {
        $('#postPopup').modal('show');
        $('#napiszOpinieBtn').hide();
    }

    function report(o) {
        //alert('jestem');
        var pt = $('#postTextArea').val();
        //alert(rt);

        $.post("/Home/PostPopup", { postText: pt }, function (p) {

            $('#postPopup').hide("slow", function () {
                alert(p);
            });

            $('#postPopup').modal('hide');


        });
    }
    $(document).ready(function () {
        $('#postPopup').on('hidden.bs.modal', function () {
            $('#napiszOpinieBtn').show();
        });
    });
</script>